
<div class="container marketing">
  <hr class="featurette-divider last"/>
  <div id="social">
    <p>Connect with us:<a href="https://www.facebook.com/Soaps4Lives?fref=ts" title="Facebook"><i class="fa fa-facebook-square"></i></a><a href="http://www.twitter.com/soaps4lives" title="Twitter"><i class="fa fa-twitter"></i></a><a href="https://plus.google.com/u/0/b/104480031003985359301/104480031003985359301/posts" title="Google+"><i class="fa fa-google-plus-square"></i></a><a href="http://www.linkedin.com/company/2961816?trk=tyah&amp;trkInfo=tas%3Asoaps4%2Cidx%3A1-1-1" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></p>
  </div>
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2013 Soaps4Lives. &middot; <a href="#">Privacy </a>&middot; <a href="#">Terms</a></p>
  </footer>
</div>