.container.marketing
	hr.featurette-divider.last

	#social
		p Connect with us:
			a(href='https://www.facebook.com/Soaps4Lives?fref=ts', title='Facebook')
				i.fa.fa-facebook-square
			a(href='http://www.twitter.com/soaps4lives', title='Twitter')
				i.fa.fa-twitter
			a(href='https://plus.google.com/u/0/b/104480031003985359301/104480031003985359301/posts', title='Google+')
				i.fa.fa-google-plus-square
			a(href='http://www.linkedin.com/company/2961816?trk=tyah&trkInfo=tas%3Asoaps4%2Cidx%3A1-1-1', title='LinkedIn')
				i.fa.fa-linkedin-square
	footer
		p.pull-right
			a(href='#') Back to top
		p &copy; 2013 Soaps4Lives. &middot; 
			a(href='#') Privacy 
			&middot; 
			a(href='#') Terms