extends layout

block content
	script(type='text/javascript').
		var topnav = $('.navbar-fixed-top');
		topnav.find('li').removeClass('active');
		topnav.find('li > a[href^="index"]').parent().addClass('active');
	.container.marketing
		.jumbotron
			.wrapper
				h1 Soaps save lives!
				p Poor hygiene kills a child every 30 seconds.
				p Tons of soaps are thrown away every day.
				p We have a solution.
				p
					a.btn.btn-primary.btn-lg(role='button') Learn more »
		.row
			#issues.topnav-offset
			.col-lg-4
				.image.issue1
				h2 THE ISSUE
				p Diarrhea, pneumonia, and other related diseases are major causes of child mortality in developing nations. According to UNICEF, on an annual basis more than 2.5 million children never see their 5th birthday because of these diseases. It is a direct result of poor hygienic conditions, little or no access to adequate sanitation, and a lack of health education among the youngest and most vulnerable. Asia and Africa alone account for 90% of the global child mortality.

			.col-lg-4
				.image.issue2
				h2 THE OPPORTUNITY
				p On the other side of the coin, the hospitality industry is flushed with these hygienic amenities. We are talking about bars of soap, toothpaste, and more. However these are thrown out every single day. If recycled, we will divert potentially thousands of tonnes of waste from landfills each year. When well managed and with a little foresight this waste can be turned into lifesaving relief for millions of lives.
			
			.col-lg-4
				.image.issue3
				h2 THE CATALYST
				p Today is a new age. Soaps4Lives partners with Hotels to protect the planet and save lives. We recycle slightly used soaps and other hygiene items and get them to disadvantaged or at risk communities. Our impact is to protect Mother Earth and save lives.

		hr.featurette-divider

		.row.featurette
			.col-md-7
				h2.featurette-heading Partnership with Hotels
				p.lead
					strong Soaps4Lives 
					works with hotels and other hospitality centers to save lives of millions across the globe. We collect and recycle slightly used soaps and other hygiene items that are then donated to disadvantaged or at risk communities to prevent child mortality. In so doing, we also help our partners increase their environmental responsibility.
			.col-md-5
				.image.hotel

		hr.featurette-divider

		.row.featurette
			.col-md-5
				.image.recycling
			.col-md-7
				h2.featurette-heading Our Professional recycling process
				p.lead Our 
					a(href='javascript:void(0);', data-toggle='modal', data-target='#processImg') recycling process 
					is controlled and sanitary risk free: it consists of sanitizing the discarded bars –removing any impurities, grounding them, and mixing the obtained soap noodles with water, to form new bars of soap. No chemical substance is added or used during the process. The obtained soap is then examined and tested to eliminate any medical risk.
			.modal.fade#processImg(tabIndex='-1', role='dialog', aria-hidde='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
							h4.modal-title Our Recycling Process
						.modal-body
							#recyclingImg