<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="soaps, lives, ngo, npo, green, recycling">
    <meta name="description" content="Soaps4Lives">
    <meta name="author" content="Sheng Yunzhou">
    <title>Soaps4Lives</title>
    <link rel="shortcut icon" href="./images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Crete+Round">
    <link rel="stylesheet" href="/stylesheets/page.css">
    <!-- [if gt IE 9] <!-->
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <!-- <![endif]-->
    <script type="text/javascript" src="./javascripts/lib/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="./javascripts/vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-46910022-1', 'soaps4lives.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="nav-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a id="logo" href="index" class="navbar-brand"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="partners">Partners</a></li>
            <li><a href="serv_prog">Services &amp; Programmes</a></li>
            <li><a href="get_involved">Get Involved</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $('.navbar-fixed-top')
       .find('li').removeClass('active')
       .find('a[href^="serv_prog"]').parent().addClass('active');
    </script>
    <div class="container">
      <div id="main" class="row">
        <div class="col-md-3">
          <div role="complementary">
            <ul class="nav side affix">
              <li><a href="#soaps4recycle">Soaps4Recycle</a></li>
              <li><a href="#soaps4communities">Soaps4Communities</a></li>
              <li><a href="#soaps4works">Soaps4Works</a></li>
              <li><a href="#wma">Waste Management Advisory</a></li>
            </ul>
          </div>
        </div>
        <div role="main" class="col-md-9">
          <h2 class="title">SERVICES AND PROGRAMS</h2>
          <p>
             
            Soaps4Lives’ solutions (<a href="#soaps4recycle" title="Soaps4Recycle">Soaps4Recycle</a>, <a href="#soaps4communities" title="Soaps4Communities">Soaps4Communities</a>, and <a href="#soaps4works" title="Soaps4Works">Soaps4Works</a>) are designed to provide hotels and other corporations with the means and strategies to implement business and socially relevant CSR programs directed at improving their social and environmental performance, and reducing child mortality.
          </p>
          <hr>
          <div class="row">
            <div class="desc-image s4r"></div>
            <div>
              <div id="soaps4recycle" class="topnav-offset"></div>
              <h3>Soaps4Recycle</h3>
              <p>Primarily designed for Hotels, Soaps4Recycle is an innovative program to reduce your environmental impact and give children around the world a chance to stay healthy and happy</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="desc-image s4c"></div>
            <div>
              <div id="soaps4communities" class="topnav-offset"></div>
              <h3>Soaps4Communities</h3>
              <p>These are turnkey Corporate Sustainability and Responsibility services and programs for the benefits of corporations and society. These programs provide tangible business and social value: </p>
              <p>To learn more about our Soap4Communities solutions, contact us <a href="mailto:contact@soaps4lives.com">here</a>.</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="desc-image s4w"></div>
            <div>
              <div id="soaps4works" class="topnav-offset"></div>
              <h3>Soaps4Works</h3>
              <p>A program specifically designed for community and employee engagement. This program is available for any businesses that would like to give back and have lots of fun doing it.</p>
              <p>To learn more about our Soap4Works solutions, contact us <a href="mailto:contact@soaps4lives.com">here</a>.</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="icons col-md-1"><i class="fa fa-bullhorn"></i></div>
            <div class="col-md-11">
              <div id="wma" class="topnav-offset"></div>
              <h3>Waste Management Advisory</h3>
              <p>Our Waste Management Advisory solutions are designed to help corporation enhance their environmental performance and impact: </p>
              <p><span class="pointer">1</span><span>Waste management policy</span></p>
              <p><span class="pointer">2</span><span>Waste to Society programs</span></p>
              <p>to learn more about our Waste Management Advisory solutions, contact us <a href="mailto:contact@soaps4lives.com">here</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container marketing">
      <hr class="featurette-divider last">
      <div id="social">
        <p>Connect with us:<a href="https://www.facebook.com/Soaps4Lives?fref=ts" title="Facebook"><i class="fa fa-facebook-square"></i></a><a href="http://www.twitter.com/soaps4lives" title="Twitter"><i class="fa fa-twitter"></i></a><a href="https://plus.google.com/u/0/b/104480031003985359301/104480031003985359301/posts" title="Google+"><i class="fa fa-google-plus-square"></i></a><a href="http://www.linkedin.com/company/2961816?trk=tyah&amp;trkInfo=tas%3Asoaps4%2Cidx%3A1-1-1" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></p>
      </div>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Soaps4Lives. &middot; <a href="#">Privacy </a>&middot; <a href="#">Terms</a></p>
      </footer>
    </div>
  </body>
</html>